*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('slashio-photography-XJ-Z99jGycI-unsplash.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #fff;
    width: 60%;
    padding: 36px;
    border-radius: 30px;
    box-shadow: 0 0 30px;
}

.timer {
    font-size: 5rem;
}

button {
    font-size: 2rem;
    margin: 5px 10px;
    color: #fff;
    border: none;
}

button i {
    padding: 10px;
}
.play {
    background-color: green;
}

.reset {
    background-color: red;
}

.pause {
    background-color: orange;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .timer {
        font-size: 3rem;
    }
    .container {
        width: 70%;
    }
    button {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    body {
        width: 100%;
    }
    .timer {
        font-size: 5rem;
    }
    .container {
        width: 60%;
    }
    button {
        font-size: 2rem;
    }
}